<h1>Convert <%= @from_currency %></h1>

<p>Go <a href="/forex">back</a>.</p>

<ul>
    <% @array_of_symbols.each do |symbol| %>
    <li>
      <a href="/forex/<%= @from_currency %>/<%= symbol%>">
        Convert 1 <%= @from_currency %> to <%= symbol%>...
      </a>
    </li>
    <% end%>
</ul>